<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>도서주문</h2>
	<hr />
	<form action="/orders/insert" method="post">
		 주문번호 : <input type="text" name="orderid" th:value="${no}"/><br />
		 고객번호 : 
		 <select name="customer.custid">
			 <option th:value="${c.custid}" th:text="${c.name}" th:each="c:${c_list}"></option>
		 </select>
		 <br />
		 도서번호 : 
		 <select name="book.bookid">
			 <option th:value="${b.bookid}" 
			 		 th:each="b:${b_list}" 
			 		 th:text="${b.bookname}"></option>
		 </select>
		 <br />
		 주문가격 : <input type="text" name="saleprice" /><br />
		 <input type="submit" value="주문"/>
		 <input type="reset" value="다시입력"/>
	</form>
</body>
</html>








